@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i,600,700,700i,900,900i');
body {
    background-color: #191919;
    z-index: -5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#bg {
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url('https://media.giphy.com/media/1rIXGnFEJx3yM/giphy.gif');
    background-size: cover;
    display: block;
    position: fixed;
    opacity: 0.20;
    z-index: -2;
}

nav {
    position: fixed;
}

#header {
    height: 60px;
    width: 100%;
    background-color: none;
    z-index: 3;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

#header p {
    position: absolute;
    display: inline-block;
    transform: translate(0, -50%);
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#filters {
    width: 100%;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-filter {
    max-width: 3%;
    height: auto;
    display: inline-block;
    float: left;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.2s;
    fill: #fff;
}

.icon-filter:nth-child(1),
.icon-filter:nth-child(2) {
    min-width: 26px;
    height: auto;
}

.icon-filter:nth-child(4),
.icon-filter:nth-child(5),
.icon-filter:nth-child(7) {
    min-width: 28px;
    height: auto;
}

.icon-filter:nth-child(6) {
    min-width: 26px;
    height: auto;
}

.icon-filter:nth-child(8) {
    min-width: 17px;
    height: auto;
}

.icon-filter:nth-child(9) {
    min-width: 24px;
    height: auto;
}

.icon-filter:nth-child(10),
.icon-filter:nth-child(11) {
    min-width: 16px;
    height: auto;
}

.icon-filter:nth-child(13),
.icon-filter:nth-child(14),
.icon-filter:nth-child(15) {
    min-width: 18px;
    height: auto;
}

.separate {
    color: #BD9C36;
    background-color: #BD9C36;
    width: 2px;
    height: 30px;
    display: inline-block;
    margin: 2px 0;
}

#menu-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 3;
}

#menu-icon span {
    position: relative;
    display: block;
    width: 18px;
    height: 2px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#menu-icon span:first-of-type {
    top: 5px;
}

#menu-icon span:last-of-type {
    bottom: -10px;
}

#change {
    height: 100%;
}

#menu-icon .active span {
    transition: 0.2s ease-in-out;
}

#menu-icon .active span:first-of-type {
    transform: rotate(45deg);
    top: 8px;
}

#menu-icon .active span:last-of-type {
    transform: rotate(-45deg);
    bottom: -6px;
}

#preloader {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-color: #191919;
    letter-spacing: 4px;
    text-align: center;
    transition: 1s;
    z-index: 5;
    color: white;
}

#preloader .vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preloader .vertical-center div {
    margin-top: 5px;
}

#preloader .line {
    width: 1px;
    height: 12px;
    background-color: #fff;
    margin: 0 1px;
    display: inline-block;
    animation: opacity-2 1000ms infinite ease-in-out
}

#preloader .line-1 {
    animation-delay: 800ms;
}

#preloader .line-2 {
    animation-delay: 600ms;
}

#preloader .line-3 {
    animation-delay: 400ms;
}

#preloader .line-4 {
    animation-delay: 200ms;
}

#preloader .line-6 {
    animation-delay: 200ms;
}

#preloader .line-7 {
    animation-delay: 400ms;
}

#preloader .line-8 {
    animation-delay: 600ms;
}

#preloader .line-9 {
    animation-delay: 800ms;
}

@keyframes opacity-2 {
    0% {
        opacity: 1;
        height: 12px;
    }
    50% {
        opacity: 0;
        height: 12px;
    }
    100% {
        opacity: 1;
        height: 12px;
    }
}

.container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.container p {
    color: white;
}

#ads {
    position: relative;
    height: 100vh;
    background-image: url('../img/crowdAnim.gif');
    background-size: cover;
    background-position: center;
    z-index: 2;
    opacity: 1;
}

#principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background-color: #fff;
    transition: 0.2s;
    padding: 50px;
}

#principal p {
    line-height: 1em;
    color: #191919;
    position: relative;
    font-size: 3em;
    font-weight: 700;
}

@-webkit-keyframes glitch {
    100% {
        clip: rect(24px, 9999px, 16px, 0);
    }
    95% {
        clip: rect(27px, 9999px, 38px, 0);
    }
    90% {
        clip: rect(99px, 9999px, 39px, 0);
    }
    85% {
        clip: rect(95px, 9999px, 83px, 0);
    }
    80% {
        clip: rect(16px, 9999px, 48px, 0);
    }
    75% {
        clip: rect(56px, 9999px, 64px, 0);
    }
    70% {
        clip: rect(95px, 9999px, 74px, 0);
    }
    65% {
        clip: rect(100px, 9999px, 9px, 0);
    }
    60% {
        clip: rect(41px, 9999px, 9px, 0);
    }
    55% {
        clip: rect(93px, 9999px, 75px, 0);
    }
    50% {
        clip: rect(72px, 9999px, 43px, 0);
    }
    45% {
        clip: rect(99px, 9999px, 18px, 0);
    }
    40% {
        clip: rect(57px, 9999px, 29px, 0);
    }
    35% {
        clip: rect(92px, 9999px, 82px, 0);
    }
    30% {
        clip: rect(86px, 9999px, 67px, 0);
    }
    25% {
        clip: rect(19px, 9999px, 91px, 0);
    }
    20% {
        clip: rect(77px, 9999px, 95px, 0);
    }
    15% {
        clip: rect(75px, 9999px, 15px, 0);
    }
    10% {
        clip: rect(51px, 9999px, 65px, 0);
    }
    5% {
        clip: rect(81px, 9999px, 3px, 0);
    }
}

@keyframes glitch {
    100% {
        clip: rect(24px, 9999px, 16px, 0);
    }
    95% {
        clip: rect(27px, 9999px, 38px, 0);
    }
    90% {
        clip: rect(99px, 9999px, 39px, 0);
    }
    85% {
        clip: rect(95px, 9999px, 83px, 0);
    }
    80% {
        clip: rect(16px, 9999px, 48px, 0);
    }
    75% {
        clip: rect(56px, 9999px, 64px, 0);
    }
    70% {
        clip: rect(95px, 9999px, 74px, 0);
    }
    65% {
        clip: rect(100px, 9999px, 9px, 0);
    }
    60% {
        clip: rect(41px, 9999px, 9px, 0);
    }
    55% {
        clip: rect(93px, 9999px, 75px, 0);
    }
    50% {
        clip: rect(72px, 9999px, 43px, 0);
    }
    45% {
        clip: rect(99px, 9999px, 18px, 0);
    }
    40% {
        clip: rect(57px, 9999px, 29px, 0);
    }
    35% {
        clip: rect(92px, 9999px, 82px, 0);
    }
    30% {
        clip: rect(86px, 9999px, 67px, 0);
    }
    25% {
        clip: rect(19px, 9999px, 91px, 0);
    }
    20% {
        clip: rect(77px, 9999px, 95px, 0);
    }
    15% {
        clip: rect(75px, 9999px, 15px, 0);
    }
    10% {
        clip: rect(51px, 9999px, 65px, 0);
    }
    5% {
        clip: rect(81px, 9999px, 3px, 0);
    }
}

@-webkit-keyframes glitch2 {
    100% {
        clip: rect(9px, 9999px, 83px, 0);
    }
    95% {
        clip: rect(87px, 9999px, 54px, 0);
    }
    90% {
        clip: rect(73px, 9999px, 14px, 0);
    }
    85% {
        clip: rect(91px, 9999px, 92px, 0);
    }
    80% {
        clip: rect(17px, 9999px, 18px, 0);
    }
    75% {
        clip: rect(95px, 9999px, 86px, 0);
    }
    70% {
        clip: rect(35px, 9999px, 9px, 0);
    }
    65% {
        clip: rect(82px, 9999px, 17px, 0);
    }
    60% {
        clip: rect(10px, 9999px, 14px, 0);
    }
    55% {
        clip: rect(96px, 9999px, 69px, 0);
    }
    50% {
        clip: rect(40px, 9999px, 43px, 0);
    }
    45% {
        clip: rect(87px, 9999px, 49px, 0);
    }
    40% {
        clip: rect(29px, 9999px, 10px, 0);
    }
    35% {
        clip: rect(78px, 9999px, 99px, 0);
    }
    30% {
        clip: rect(99px, 9999px, 51px, 0);
    }
    25% {
        clip: rect(26px, 9999px, 27px, 0);
    }
    20% {
        clip: rect(93px, 9999px, 91px, 0);
    }
    15% {
        clip: rect(78px, 9999px, 94px, 0);
    }
    10% {
        clip: rect(43px, 9999px, 97px, 0);
    }
    5% {
        clip: rect(2px, 9999px, 50px, 0);
    }
}

@keyframes glitch2 {
    100% {
        clip: rect(9px, 9999px, 83px, 0);
    }
    95% {
        clip: rect(87px, 9999px, 54px, 0);
    }
    90% {
        clip: rect(73px, 9999px, 14px, 0);
    }
    85% {
        clip: rect(91px, 9999px, 92px, 0);
    }
    80% {
        clip: rect(17px, 9999px, 18px, 0);
    }
    75% {
        clip: rect(95px, 9999px, 86px, 0);
    }
    70% {
        clip: rect(35px, 9999px, 9px, 0);
    }
    65% {
        clip: rect(82px, 9999px, 17px, 0);
    }
    60% {
        clip: rect(10px, 9999px, 14px, 0);
    }
    55% {
        clip: rect(96px, 9999px, 69px, 0);
    }
    50% {
        clip: rect(40px, 9999px, 43px, 0);
    }
    45% {
        clip: rect(87px, 9999px, 49px, 0);
    }
    40% {
        clip: rect(29px, 9999px, 10px, 0);
    }
    35% {
        clip: rect(78px, 9999px, 99px, 0);
    }
    30% {
        clip: rect(99px, 9999px, 51px, 0);
    }
    25% {
        clip: rect(26px, 9999px, 27px, 0);
    }
    20% {
        clip: rect(93px, 9999px, 91px, 0);
    }
    15% {
        clip: rect(78px, 9999px, 94px, 0);
    }
    10% {
        clip: rect(43px, 9999px, 97px, 0);
    }
    5% {
        clip: rect(2px, 9999px, 50px, 0);
    }
}

#principal p:after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-shadow: -2px 0 aqua;
    color: #191919;
    background: #fff;
    overflow: hidden;
    animation: glitch 2s infinite linear;
    animation-direction: alternate-reverse;
}

#principal p:before {
    content: attr(data-text);
    text-shadow: 2px 0 red;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    color: #191919;
    overflow: hidden;
    background: #fff;
    animation: glitch2 3s infinite linear reverse;
    animation-direction: alternate-reverse;
}

#newItem {
    position: relative;
    height: 650px;
    background-color: #191919;
    color: #fff;
}

#store {
    height: auto;
}

.flex-store {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#ad_img {
    width: 65%;
    height: 450px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.ad-order {
    background-color: #191919;
    padding: 10px;
    width: 120px;
    height: 30px;
    position: relative;
    float: right;
    margin-top: 350px;
    z-index: 2;
    cursor: pointer;
}

.ad-order h5 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -90%);
    color: #fff;
    font-weight: 500;
    font-size: 0.8em;
}

.ad-price {
    background-color: #fff;
    padding: 10px;
    width: 120px;
    height: 30px;
    position: relative;
    float: right;
    margin-top: 350px;
    transform: translate(200%, 0);
    cursor: pointer;
    z-index: 2;
}

.ad-price h5 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -90%);
    color: #191919;
    font-weight: 500;
    font-size: 0.8em;
}

#newItem h1 {
    font-size: 3.4em;
    font-weight: 900;
    font-style: italic;
    right: 0;
    top: 25%;
    position: absolute;
}

#newItem h4 {
    right: 0;
    font-size: 1.5em;
    color: #BD9C36;
    position: absolute;
    top: 22%;
    font-weight: 500;
    font-style: italic;
}

#newItem p {
    position: absolute;
    width: 30%;
    right: 0;
    top: 45%;
    text-align: right;
}

.itemSquare {
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 0 4.5% 28px 0;
    display: inline-block;
    transition: 0.3s;
}

.itemSquare:hover {
    margin-top: -14px;
    margin-bottom: 14px;
    width: 180px;
    height: 180px;
}

.itemSquare:hover .itemImg {
    height: 130px;
}

@media (max-width:1290px) {
    .itemSquare:nth-child(7),
    .itemSquare:nth-child(12),
    .itemSquare:nth-child(17),
    .itemSquare:nth-child(22),
    .itemSquare:nth-child(27),
    .itemSquare:nth-child(32) {
        margin-right: 0;
    }
}

@media (max-width:1017) {
    .itemSquare:nth-child(6),
    .itemSquare:nth-child(11),
    .itemSquare:nth-child(16),
    .itemSquare:nth-child(21),
    .itemSquare:nth-child(26),
    .itemSquare:nth-child(31) {
        margin-right: 0;
    }
}

.itemSquare .itemImg {
    max-width: 100%;
    height: 100px;
    background-size: cover;
    background-color: burlywood;
    transition: 0.3s;
}

.itemSquare p {
    margin: 0;
    margin-left: 15px;
}

.itemSquare .name {
    font-weight: 500;
    color: #000;
    margin-top: 8px;
}

.itemSquare .price {
    color: #BBB;
    font-weight: 300;
    font-size: 0.7em;
    margin-top: -1px;
}

.itemSquare .addItem {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: -28px;
    background-color: black;
    color: white;
    border: none;
    width: 25px;
    height: 25px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
